.main{
    background-color:rgba(40, 204, 40, 0.527);
}
nav{
    display:flex;
    background-color:aquamarine;
}
#logo{
    width:100px;
    height:100px;
    cursor: pointer;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.body{
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}